*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background: hsla(0, 0%, 20%, 0.4);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  max-width: 860px;
  padding: 6rem 4.8rem;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  gap: 4.8rem;
}

@media screen and (max-width: 760px) {
  .card {
    flex-direction: column;
    padding: 2rem 1.6rem;
  }
}

.card__img {
  flex: 1 1 60%;
}

/* .img {
  width: 438px;
  height: 500px;
} */

@media screen and (max-width: 760px) {
  .card__img {
    width: 100%;
  }
}

.img__content {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
}

.card__block {
  flex: 1 1 40%;
}

.card__title {
  color: #333333;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 1.6rem;
}

.card__price {
  color: #333333;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 1.2rem;
}

.card__rating {
  margin-bottom: 4rem;
}

.rating {
  display: flex;
  gap: 1rem;
}

.star {
  width: 16px;
  height: 16px;
}

.star__icon {
  width: inherit;
  height: inherit;
}

.card__text {
  color: #333;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 165%;
  margin-bottom: 4rem;
}

/* .card__form {
}

.form {
} */

.form__size {
  margin-bottom: 2.4rem;
}

.radio-size {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.radio-size__title {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 165%;
  margin-right: 6px;
}

.radio-size__label {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.radio-size__input {
  position: absolute;
  z-index: -1;
  outline: none;
}

.radio-size__input:hover + .radio-size__text {
  background-color: #bce2534e;
}

.radio-size__input:checked + .radio-size__text {
  background-color: #bde253;
}

.radio-size__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #4f4f4f;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 165%;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #4f4f4f;
}

.radio-size__input:disabled + .radio-size__text {
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  cursor: not-allowed;
}

.radio-size__input:disabled + .radio-size__text::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 3.3rem;
  display: inline-block;
  background-color: #bdbdbd;
  transform: rotate(-45deg);
}

.form__color {
  margin-bottom: 6.2rem;
}

.radio-colour {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.radio-colour__title {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 165%;
  margin-right: 6px;
}

.radio-colour__label {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.radio-colour__input {
  position: absolute;
  z-index: -1;
  outline: none;
}

.radio-colour__border {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
}

.radio-colour__input[value="green"] + .radio-colour__border {
  background-color: #d4f041;
}

.radio-colour__input[value="red"] + .radio-colour__border {
  background-color: #faa541;
}

.radio-colour__input:checked + .radio-colour__border {
  border: 1px solid #4f4f4f;
}

.form__buttons {
  display: flex;
  gap: 2.4rem;
  /* flex-wrap: wrap; */
}

.form__button {
  width: 50%;
}

@media screen and (max-width: 760px) {
  .form__button {
    width: 100%;
  }
  .form__buttons {
    flex-direction: column;
  }
}

.button {
  height: 40px;
  color: #333333;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
}

.button__buy {
  border-radius: 4px;
  border: 1px solid #bde253;
  background: #bde253;
}

.button__buy:hover {
  background: #a9ce3f;
  border-color: #bde253;
}

.button__buy:focus {
  border-color: #333333;
  background: #bde253;
}

.button__add {
  border-radius: 4px;
  border: 1px solid #333333;
}

.button__add:hover {
  text-decoration: underline #333333;
}

.button__add:focus {
  box-shadow: 0 0 0 1px #bde253;
}
